.col-md-3 {
    padding-left: 5px;
    padding-right: 5px
}

/*.footer{*/
    /*padding: 52px 17px 120px;*/
    /*background: #F4F4F4;*/
/*}*/

.list-group-item {
    border: 0px solid #fff;
}

.images {
    border: 0;
    padding: 10px;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}